anthropic
config
datasets
docker
fsspec[http]<=2024.9.0,>=2023.1.0
gdown
httpx<1,>=0.23.0
llama-index-agent-llm-compiler
llama-index-core
llama-index-embeddings-openai
llama-index-llms-anthropic
llama-index-llms-openai
matplotlib
pre-commit
pydantic<2.10.0,>=2.7.0
rich
swebench
termcolor
tiktoken
torch
transformers
types-PyYAML
