pydantic    
llama-index-core
llama-index-embeddings-openai 
llama-index-agent-llm-compiler
llama-index-llms-openai
llama-index-program-openai
httpx
termcolor
config
docker
rich
datasets
swebench
matplotlib