anthropic
config
datasets
docker
gdown
httpx
llama-index-agent-llm-compiler
llama-index-core
llama-index-embeddings-openai
llama-index-llms-anthropic
llama-index-llms-openai
matplotlib
pre-commit
pydantic
rich
swebench
termcolor
tiktoken
types-PyYAML
